* {
    box-sizing: border-box;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(images/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Lato;

}

.container {
    width: 800px;
    height: 500px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
